#root {
  margin: 0 auto;

  text-align: center;
}
body {
  background-color: #fff0f5;
}
.register {
  width: 30vw;
  height: fit-content;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #ffb6c1;
  border-radius: 15px;
  background-color: #d9f6f4;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.register h1 {
  font-size: 40px;
  color: #ff69b4;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.register label {
  font-size: 40px;
  color: #555;
  display: block;
  margin-top: 10px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/*files*/
.file {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #7d95b6;
  border-radius: 10px;
  background-color: #d4f0fe;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.file h2 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #333;
  margin-bottom: 10px;
}

.file input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.file p {
  font-size: 14px;
  color: #555;
  text-align: left;
}

.file button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.file button:hover {
  background-color: #e0e0e0;
}

.file img {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.folder {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #de8761;
  border-radius: 10px;
  background-color: #fbe4c7;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.folder h2 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #333;
  margin-bottom: 10px;
}

.folder input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.folder p {
  font-size: 14px;
  color: #555;
  text-align: left;
}

.folder button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.folder button:hover {
  background-color: #e0e0e0;
}

.folder img {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
#adds {
  display: flex;
}

.add {
  width: 300px;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid #fa82ce;
  border-radius: 15px;
  background-color: #fcf0ff;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add h2 {
  font-size: 30px;
  color: #600c55;
  margin-bottom: 15px;
  font-family: "Arial", sans-serif;
}

.add input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #ffffff;
}

.add button {
  padding: 10px 15px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  background-color: #eb87d7;
  cursor: pointer;
}
